# Rainfall Graph Plot for Yavatmal

In [1]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is E86B-251C

 Directory of C:\Users\Lenovo\Documents\WeatherAnalysis

23-Nov-21  02:18 PM    <DIR>          .
23-Nov-21  02:18 PM    <DIR>          ..
14-Nov-21  08:20 PM    <DIR>          .ipynb_checkpoints
23-Nov-21  02:18 PM            34,712 Final Total Rainfall.ipynb
24-Oct-21  11:16 AM            11,661 rainfall data.csv
15-Nov-21  10:19 PM               408 rainfall.csv
16-Nov-21  09:16 AM            41,045 Rolling Mean for Avg rainfall in Yavatmal 1990 to 2005.ipynb
15-Nov-21  10:36 PM            21,094 Rolling Mean for Total rainfall in Yavatmal 1990 to 2005.ipynb
31-Oct-21  11:38 AM             3,661 total rainfall average.csv
12-Nov-21  02:54 PM             1,072 Total rainfall.ipynb
12-Nov-21  02:52 PM                72 Untitled.ipynb
               8 File(s)        113,725 bytes
               3 Dir(s)  33,246,969,856 bytes free

# Importing relevant libraries

In [2]:
import pandas as pd
import numpy as np
import itertools

#Plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt
plt.style.use('seaborn-white')
%matplotlib inline

Import csv file

In [3]:
df = pd.read_csv(r'C:\Users\Lenovo\Documents\WeatherAnalysis\rainfall.csv')

Lets see what the data looks like

In [4]:
df.head()

   Year-  Average of years-
0   1985              681.3
1   1986              919.2
2   1987              615.4
3   1988             1095.1
4   1989              792.8

### Cleaning the data

Dropping empty columns

In [5]:
# cols = []
# for i in range(2, 97): cols.append(i)
# df_after_dropping = df.drop(df.columns[cols],axis=1)

Rename relevant columns

In [6]:
df.rename(columns={"Year-": "year", "Average of years-": "avg_rain"}, inplace=True)

In [7]:
rain_data = df
rain_data.head(31)

    year  avg_rain
0   1985     681.3
1   1986     919.2
2   1987     615.4
3   1988    1095.1
4   1989     792.8
5   1990    1222.6
6   1991     602.1
7   1992     969.8
8   1993     837.8
9   1994    1087.2
10  1995    1131.7
11  1996     878.5
12  1997     815.5
13  1998     915.3
14  1999     900.9
15  2000     779.2
16  2001     859.0
17  2002     889.9
18  2003     520.0
19  2004     458.1
20  2005     962.4
21  2006    1068.5
22  2007     844.0
23  2008     633.2
24  2009     816.0
25  2010    1146.8
26  2011     815.9
27  2012     905.8
28  2013    1366.4
29  2014     715.1
30  2015     707.1

### Mean, Standard Deviations & Quantiles of the data
Some relevant statistics from the data

In [8]:
rain_data.describe()

              year     avg_rain
count    32.000000    32.000000
mean   2000.500000   870.493750
std       9.380832   202.856976
min    1985.000000   458.100000
25%    1992.750000   763.175000
50%    2000.500000   868.750000
75%    2008.250000   964.250000
max    2016.000000  1366.400000

In [9]:
import altair as alt
chart = alt.Chart(rain_data)

## Data Visualisation

We will now create a rolling mean plot for the avaliable data

In [10]:
train_chart=alt.Chart(rain_data.reset_index()).mark_line(point=True).encode(
    x='year',
    y= alt.Y('avg_rain:Q',
        scale=alt.Scale(
            domain=(300,1500)
        )),
    tooltip=['year', 'avg_rain']
)

In [11]:
train_chart

alt.Chart(...)

In [12]:
#Create Rolling mean. This centered rolling mean 
rolling_mean = alt.Chart(rain_data.reset_index()).mark_trail(
    color='orange',
    size=1
).transform_window(
    rolling_mean='mean(avg_rain)',
    frame=[-4,4]
).encode(
    x='year:T',
    y='rolling_mean:Q',
    size='avg_rain'
)

rolling_mean

alt.Chart(...)

In [13]:
#Add zoom-in/out
scales = alt.selection_interval(bind='scales')

In [14]:
#Add data labels
text = train_chart.mark_text(
    align='left',
    baseline='top',
    dx=10  # Moves text to right so it doesn't appear on top of the bar
).encode(
    text='avg_rain:Q'
)

## Final Output

### The plot is intreactable i.e. we can zoom in and zoom out on data points.

In [15]:
#collapse-hide
#Combine everything
(train_chart + rolling_mean).properties(
    width=1000,
    height=300,
    title="Avg Rainfall in Yavatmal").add_selection(
    scales
)

alt.LayerChart(...)