# Total Rainfall Graph Plot for Yavatmal

In [24]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is E86B-251C

 Directory of C:\Users\Lenovo\Documents\WeatherAnalysis

15-Nov-21  10:34 PM    <DIR>          .
15-Nov-21  10:34 PM    <DIR>          ..
14-Nov-21  08:20 PM    <DIR>          .ipynb_checkpoints
14-Nov-21  08:08 PM            34,697 Final Total Rainfall.ipynb
24-Oct-21  11:16 AM            11,661 rainfall data.csv
15-Nov-21  10:19 PM               408 rainfall.csv
15-Nov-21  10:33 PM            41,057 Rolling Mean for Avg rainfall in Yavatmal 1990 to 2005.ipynb
15-Nov-21  10:34 PM            17,022 Rolling Mean for Total rainfall in Yavatmal 1990 to 2005.ipynb
31-Oct-21  11:38 AM             3,661 total rainfall average.csv
12-Nov-21  02:54 PM             1,072 Total rainfall.ipynb
12-Nov-21  02:52 PM                72 Untitled.ipynb
               8 File(s)        109,650 bytes
               3 Dir(s)  31,903,711,232 bytes free

# Importing relevant libraries

In [25]:
import pandas as pd
import numpy as np
import itertools

#Plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt
import re
plt.style.use('seaborn-white')
%matplotlib inline

Import csv file

In [26]:
path = r'C:\Users\Lenovo\Documents\WeatherAnalysis\rainfall.csv'


df = pd.read_csv(path)

Lets see what the data looks like

In [27]:
df.head()

   Year-  Average of years-
0   1985              681.3
1   1986              919.2
2   1987              615.4
3   1988             1095.1
4   1989              792.8

### Cleaning the data

Dropping empty columns

Rename relevant columns

In [28]:
df.head()

   Year-  Average of years-
0   1985              681.3
1   1986              919.2
2   1987              615.4
3   1988             1095.1
4   1989              792.8

In [29]:
df.describe(include='all')

             Year-  Average of years-
count    32.000000          32.000000
mean   2000.500000         870.493750
std       9.380832         202.856976
min    1985.000000         458.100000
25%    1992.750000         763.175000
50%    2000.500000         868.750000
75%    2008.250000         964.250000
max    2016.000000        1366.400000

### Mean, Standard Deviations & Quantiles of the data
Some relevant statistics from the data

In [30]:
df.describe(include='all')

             Year-  Average of years-
count    32.000000          32.000000
mean   2000.500000         870.493750
std       9.380832         202.856976
min    1985.000000         458.100000
25%    1992.750000         763.175000
50%    2000.500000         868.750000
75%    2008.250000         964.250000
max    2016.000000        1366.400000

## Data Visualisation

We will now create a rolling mean plot for the avaliable data

In [31]:
alt.Chart(rain_data.reset_index()).mark_line(point=True).encode(
    x='Year-',
    y='total rainfall:Q',)
        scale=alt.Scale(
            domain=(400,500)
        )),
    tooltip=['Year-', 'total rainfall']
    
)

IndentationError: unexpected indent (<ipython-input-31-5ebddcb27dee>, line 4)

In [32]:
#Create Rolling mean. This centered rolling mean 
rolling_mean = alt.Chart(rain_data.reset_index()).mark_trail(
    color='orange',
    size=1
).transform_window(
    rolling_mean='mean(total rainfall)',
    frame=[-4,4]
).encode(
    x='Year-:T',
    y='rolling_mean:Q',
    size='total rainfall'
)

rolling_mean

NameError: name 'rain_data' is not defined

In [33]:
#Add zoom-in/out
scales = alt.selection_interval(bind='scales')

In [34]:
#Add data labels
text = train_chart.mark_text(
    align='left',
    baseline='top',
    dx=10  # Moves text to right so it doesn't appear on top of the bar
).encode(
    text='total rainfall:Q'
)

NameError: name 'train_chart' is not defined

## Final Output

### The plot is intreactable i.e. we can zoom in and zoom out on data points.

In [23]:

#collapse-hide
#Combine everything
(train_chart + rolling_mean +text).properties(
    width=1000,
    height=300,
    title="Avg Rainfall in Yavatmal").add_selection(
    scales
)

NameError: name 'train_chart' is not defined