# Total Rainfall Graph Plot for Yavatmal

In [1]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is E86B-251C

 Directory of C:\Users\Lenovo\Documents\WeatherAnalysis

05-Nov-21  07:58 PM    <DIR>          .
05-Nov-21  07:58 PM    <DIR>          ..
05-Nov-21  07:44 PM    <DIR>          .ipynb_checkpoints
31-Oct-21  11:38 AM             3,661 rainfall annual average.csv
24-Oct-21  11:16 AM            11,661 rainfall data.csv
05-Nov-21  07:44 PM            40,484 Rolling Mean for Avg rainfall in Yavatmal 1990 to 2005.ipynb
05-Nov-21  07:44 PM            40,484 Rolling Mean for Total rainfall in Yavatmal 1990 to 2005.ipynb
31-Oct-21  11:38 AM             3,661 total rainfall average.csv
               5 File(s)         99,951 bytes
               3 Dir(s)  23,218,937,856 bytes free

# Importing relevant libraries

In [3]:
import pandas as pd
import numpy as np
import itertools

#Plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt
plt.style.use('seaborn-white')
%matplotlib inline

Import csv file

In [6]:
path = r'C:\Users\Lenovo\Documents\WeatherAnalysis\total rainfall average.csv'
df = pd.read_csv(path)

Lets see what the data looks like

In [7]:
df.head()

,Year-,Average of years-,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96
0,1985,964.74375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1986,964.74375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1987,964.74375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1988,964.74375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1989,964.74375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Cleaning the data

Dropping empty columns

In [5]:
cols = []
for i in range(2, 97): cols.append(i)
df_after_dropping = df.drop(df.columns[cols],axis=1)

Rename relevant columns

In [6]:
df_after_dropping.rename(columns={"Year-": "year", "Average of years-": "avg_rain"}, inplace=True)

In [15]:
rain_data = df_after_dropping
rain_data.head(31)

    year    avg_rain
0   1985   964.74375
1   1986   964.74375
2   1987   964.74375
3   1988   964.74375
4   1989   964.74375
5   1990   964.74375
6   1991   964.74375
7   1992   964.74375
8   1993   964.74375
9   1994   964.74375
10  1995   964.74375
11  1996   964.74375
12  1997   964.74375
13  1998   964.74375
14  1999   964.74375
15  2000   964.74375
16  2001   964.74375
17  2002   964.74375
18  2003   964.74375
19  2004   911.33750
20  2005   911.33750
21  2006   911.33750
22  2007   911.33750
23  2008   911.33750
24  2009   911.33750
25  2010  1018.55375
26  2011   911.33750
27  2012   911.33750
28  2013   911.33750
29  2014   911.33750
30  2015   911.33750

### Mean, Standard Deviations & Quantiles of the data
Some relevant statistics from the data

In [8]:
rain_data.describe()

              year     avg_rain
count    32.000000    32.000000
mean   2000.500000   946.397969
std       9.380832    29.155910
min    1985.000000   911.337500
25%    1992.750000   911.337500
50%    2000.500000   964.743750
75%    2008.250000   964.743750
max    2016.000000  1018.553750

## Data Visualisation

We will now create a rolling mean plot for the avaliable data

In [9]:
#Create line chart for Training data. index is reset to use Date column
train_chart=alt.Chart(rain_data.reset_index()).mark_line(point=True).encode(
    x='year',
    y= alt.Y('avg_rain:Q',
        scale=alt.Scale(
            domain=(900,1100)
        )),
    tooltip=['year', 'avg_rain']
)

In [10]:
train_chart

alt.Chart(...)

In [11]:
#Create Rolling mean. This centered rolling mean 
rolling_mean = alt.Chart(rain_data.reset_index()).mark_trail(
    color='orange',
    size=1
).transform_window(
    rolling_mean='mean(avg_rain)',
    frame=[-4,4]
).encode(
    x='year:T',
    y='rolling_mean:Q',
    size='avg_rain'
)

rolling_mean

alt.Chart(...)

In [12]:
#Add zoom-in/out
scales = alt.selection_interval(bind='scales')

In [13]:
#Add data labels
text = train_chart.mark_text(
    align='left',
    baseline='top',
    dx=10  # Moves text to right so it doesn't appear on top of the bar
).encode(
    text='avg_rain:Q'
)

## Final Output

### The plot is intreactable i.e. we can zoom in and zoom out on data points.

In [14]:
#collapse-hide
#Combine everything
(train_chart + rolling_mean +text).properties(
    width=1000,
    height=300,
    title="Avg Rainfall in Yavatmal").add_selection(
    scales
)

alt.LayerChart(...)